<footer class="">
    <div class="grid md:grid-cols-2 gap-20 p-12 max-w-screen-xl mx-auto">
        <div class="flex items-center">
            <div class="">
                <img src="/logo-black.svg" class="max-w-[150px]" alt="" />
                <span class="mt-5">&nbsp; Enfocados en la innovación y la calidad.</span>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-3">
            <div>
                <h6 class="text-lg font-medium">Empresa</h6>
                <ul class="text-sm font-light">
                    <li class="my-3">
                        <a class="hover:underline" href="#">Nosotros</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Blog</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="text-lg font-medium">Servicios</h6>
                <ul class="text-sm font-light">
                    <li class="my-3">
                        <a class="hover:underline" href="#">Desarrollo Web</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Landings</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Tiendas en Línea</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Apps Móviles</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Automatizaciones</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Aplicaciones Web</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Email Marketing</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">SMS Masivos</a>
                    </li>
                </ul>
            </div>
            <div>
                <h6 class="text-lg font-medium">Soluciones</h6>
                <ul class="text-sm font-light">
                    <li class="my-3">
                        <a class="hover:underline" href="#">MiTarjetaWeb</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Axol Forms</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">Axol CRM</a>
                    </li>
                    <li class="my-3">
                        <a class="hover:underline" href="#">ResidentPass</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-blue-700 text-white py-3 px-5">
        <div
            class="grid md:grid-cols-2 text-center max-w-screen-xl mx-auto gap-3"
        >
            <div class="md:text-start">
                <a class="text-sm font-light hover:underline" href="#"
                    >Aviso de Privacidad</a
                >
                <span>&nbsp;|&nbsp;</span>
                <a
                    class="text-sm font-light hover:underline"
                    href="mailto:hola@axol.dev">hola@axol.dev</a
                >
            </div>
            <div class="md:text-end">
                <p class="text-sm font-light">
                    © 2023 Axol Dev. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</footer>
